/**********************
*                     *
*   Scaffolding       *
*                     *
***********************/

* {
  box-sizing: border-box;
}


body {
  // To facilitate consistent footer positioning
  min-height: 100vh;
  position: relative;
  // margin-top: 30px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
* li {
  list-style: none;
}

* ul {
  margin: 0;
  padding: 0;
}

* img {
  display: block;
}

* a {
  text-decoration: none;
}
