
//== Containers
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.content {
    min-height: calc(100vh - 270px);
}
.container {
    &--center-main {
        @include center($container-width);
        padding-left: 10px;
        padding-right: 10px;
    }
    &--fluid {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}

//== column
.col--full {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.col--half {
    padding-right: 10px;
    padding-left: 10px;
    @include column(1/2, $gutter: 3);
    @media #{$small-and-down} {
        width: 100%;
    }
}
.col--one-third {
    padding-right: 10px;
    padding-left: 10px;
    @include column(1/3, $gutter: 2);
    @media #{$small-and-down} {
        width: 100%;
    }
}
.col--one-fifth {
    padding-right: 10px;
    padding-left: 10px;
    @include column(1/5, $gutter: 2);
    @media #{$small-and-down} {
        @include column(1/2, $gutter: 0);
    }
}

.col--two-third {
    padding-right: 10px;
    padding-left: 10px;
    @include column(2/3, $gutter: 2);
    @media #{$small-and-down} {
        width: 100%;
    }
}
